<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Sylvester</title>
    <link rel="stylesheet" href="../Css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <script src="../Js/developerPage.js" defer></script>
</head>
<body>
    <header>
        <div class="caracters">
            <i class="fas fa-floppy-disk"></i>
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <i class="fa-solid fa-arrow-rotate-right"></i>
            <h1 contenteditable="true">title</h1>
            <div class="search-bar">
                <input type="text" placeholder="Busque aqui..." class="search-input" />
                <button class="search-button">🔍</button>
            </div>
        </div>
        <div class="divbotoes">
            <ul>
                <li class="botoes" data-value="1">HMTL</li>
                <li class="botoes" data-value="2">CSS</li>
                <li class="botoes" data-value="3">JS</li>
                <li class="botoes" data-value="4">I dont know</li>
                <li class="botoes" data-value="5">I dont know</li>
                <li class="botoes closebutton" data-value="6">^</li>
            </ul>
        </div>  
        <div class="options">
            <section class="optionvalue">1</section>
            <section class="optionvalue">1</section>
            <section class="optionvalue">1</section>
            <section class="optionvalue">1</section>
            <section class="optionvalue">1</section>
        </div>
    </header>
    <main>
        <div class="sideleft-bar bar">
            <h2>estrutura</h2>
            <div class="teste">
                <div class="container">
                    
                </div>
            </div>
            <div class="botton" data-move="left"></div>
        </div>
        <div class="content">
            <article>
                <div>
                    <h1></h1>
                </div>
            </article>
            <footer></footer>
        </div>
        <div class="sideright-bar bar">
            <div class="botton" data-move="right"></div>
        </div>
    </main>
    <footer class="pages">
        <div class="botton" data-move="botton"></div>
    </footer>
</body>
</html>
